<head>
	<title>Pickem</title>
</head>
<body>
	<div class="container">
		<header>
			<h1>Pickem</h1>
		</header>
	</div>
	{{> loginButtons}} | <a href="{{pathFor route='home'}}">Home</a>
	{{#if isLoggedIn}}
	 | <a href="{{pathFor route='preferences'}}">Preferences</a> | <a href="{{pathFor route='games'}}">View Games</a>
	{{/if}}
	<br>
</body>


