<template name="home">
	Your Id: {{yourId}}
	<br>
	<div>
		<h3>World Rankings</h3>
		<br>
		<ol>
			{{#each players}} <li>{{>player}}</li> {{/each}}
		</ol>
	</div>
	<div>
		<h3>User Profiles</h3>
		<br>
		<ol>
			{{#each users}} {{>user}} {{/each}}
		</ol>
	</div>
</template>

<template name="player">
	<a href="/user/{{userId}}">{{userId}}</a>: {{winRate userId}} wins / {{loseRate userId}} losses | {{winPercentage userId}}% win rate
</template>
<template name="user">
	<a href="/user/{{_id}}">{{_id}}</a><br>
</template>
