<template name="gamesPage">
	{{#if isAdmin}}
	<form class="set-game-form">
		Set Team 1:
		<select name="team_1">
			{{#each teams}} {{>teamSelector}} {{/each}}
		</select>
		Set Team 2:
		<select name="team_2">
			{{#each teams}} {{>teamSelector}} {{/each}}
		</select>
		Week:
		<select name="week">
			{{#each weeks}} {{>week}} {{/each}}
		</select>
		<input type="submit" value="Add Game">
	</form>
	<form class="end-week">
		<input type="submit" value="End the week">
	</form>
	{{/if}} {{#each findGames}} {{>game}} {{/each}}
</template>

<template name="game">
	{{team1}} vs {{team2}} | Week: {{gameWeek}} | <a href="/game/{{_id}}">View Game</a>
	<br>
</template>
<template name="teamSelector">
	<option value="{{teamName}}">{{teamName}}</option>
</template>
<template name="week">
	<option value="{{week}}">{{week}}</option>
</template>