<template name="gamePage">
	{{#if isAdmin}}
		<form class="set-scores-form">
			Set {{team1}} Score: <input type="text" name="score1"/>
			Set {{team2}} Score: <input type="text" name="score2"/>
			<input type="submit" value="Add Scores">
		</form>
	{{/if}}
	{{team1}} vs {{team2}} Week: {{gameWeek}} <br>
	{{#if hasPicked}}
		You Picked: {{findPick}}<br>
		{{#if gameFinished}}
			{{team1}} Score: {{scoreTeam1}}<br>
			{{team2}} Score: {{scoreTeam2}}<br>
		
			{{#if pickedWinner}}
				<h2>You Win!</h2>
			{{else}}
				<h2>You Lost!</h2>
			{{/if}}
		{{else}}
			Game has not been played yet!
		{{/if}}
	{{else}}
		{{#if gameFinished}}
			{{team1}} Score: {{scoreTeam1}}<br>
			{{team2}} Score: {{scoreTeam2}}<br>
			Sorry the picking period for this game is over!
		{{else}}
		Pick your winner: 
		<form class="pick-winner-form">
			<select name="winner">
				<option value="team1">{{team1}}</option>
				<option value="team2">{{team2}}</option>
			</select>
			<input type="submit" value="Pick Winner">
		</form>
		{{/if}}
	{{/if}}
</template>
