<template name="userProfile">
	<img src="/images/128/{{favoriteTeam}}.png" height="128" width="128">
	<h5>User: {{userId}}</h5><br>
	This users favorite team is: {{favoriteTeam}}<br>
	This user has won {{wins}} games.<br>
	Their win rate is: {{winRate}}%.
</template>