<template name="preferences">
	<form class="favorite-team-form">
		Set your favorite team here:
		<select name="team">
			{{#each teams}}
				{{>team}}
			{{/each}}
		</select>
		<input type="submit" value="Submit">
	</form>
	{{favoriteTeam}}
</template>

<template name="team">
	<option value="{{teamName}}">{{teamName}}</option>
</template>
